[Unit]
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/hook-command
StandardOutput=syslog
User=www-data
Group=www-data
Restart=always
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=full
ProtectKernelTunables=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
Environment=PATH=/usr/local/bin/:/usr/bin:/usr/local/bin
Environment=HCMD_CONFIGFILE=/etc/hook-command.json
Environment=HCMD_SCRIPTSDIR=/usr/local/share/hook-command
# Environment=HCMD_TOKEN=CHANGE ME

[Install]
WantedBy=multi-user.target
